/* andrea slaninkova 92209 */
.table {

    margin: auto;
    width: 80% !important;

}



.thead-dark {
    color: #fff;
    background-color: #32383e;
    border-color: #32383e;
}


#container{
    padding-top: 5%;
}



.content{

    padding: 5% 10% 5% 10%;

}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1pt solid black;
}

